### ADDING NEW FEATURES TO BOSTON DATASET AND COMPARING NEW AND OLD TEST SCORE

In [1]:
from sklearn import datasets
import pandas as pd,numpy as np

In [2]:
boston=datasets.load_boston()
X=boston.data
Y=boston.target

In [4]:
df=pd.DataFrame(X,columns=boston.feature_names)
curr=1
for ele in df.columns:
    df[ele+'_'+str(curr)]=df[ele]**2
    curr+=1
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,CHAS_4,NOX_5,RM_6,AGE_7,DIS_8,RAD_9,TAX_10,PTRATIO_11,B_12,LSTAT_13
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,...,0.0,0.289444,43.230625,4251.04,16.728100,1.0,87616.0,234.09,157529.6100,24.8004
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,...,0.0,0.219961,41.229241,6225.21,24.672082,4.0,58564.0,316.84,157529.6100,83.5396
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,...,0.0,0.219961,51.624225,3733.21,24.672082,4.0,58564.0,316.84,154315.4089,16.2409
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,...,0.0,0.209764,48.972004,2097.64,36.750269,9.0,49284.0,349.69,155732.8369,8.6436
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,...,0.0,0.209764,51.079609,2937.64,36.750269,9.0,49284.0,349.69,157529.6100,28.4089

In [5]:
print(X.shape)
X2=df.values
print(X2.shape)

(506, 13)
(506, 26)

In [6]:
from sklearn import model_selection
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,Y,random_state=0)
X2_train,X2_test,Y2_train,Y2_test=model_selection.train_test_split(X2,Y,random_state=0)

In [7]:
from sklearn.linear_model import LinearRegression
algo1=LinearRegression()
algo2=LinearRegression()

In [8]:
algo1.fit(X_train,Y_train)
algo2.fit(X2_train,Y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
print(algo1.score(X_train,Y_train))
print(algo1.score(X_test,Y_test))
print(algo2.score(X2_train,Y2_train))
print(algo2.score(X2_test,Y_test))

0.7697699488741149
0.6354638433202129
0.8596413794910498
0.7200918269122947

### GRADIENT DESCENT

In [33]:
def step_gradient(points,learning_rate,m,c):
    N=len(points)
    slope_m,slope_c=0,0
    for i in range(N):
        x,y=points[i,0],points[i,1]
        slope_m+=(-2/N)*(y-m*x-c)*(x)
        slope_c+=(-2/N)*(y-m*x-c)
    new_m=m-learning_rate*slope_m
    new_c=c-learning_rate*slope_c
    return new_m,new_c

def gd(points,learning_rate,no_iterations):
    m,c=0,0
    for i in range(no_iterations):
        m,c=step_gradient(points,learning_rate,m,c)
        cst=cost(points,m,c)
        print(i,m,c,cst)
    return m,c

def cost(points,m,c):
    N=len(points)
    cst=0
    for i in range(N):
        x,y=points[i,0],points[i,1]
        cst+=(1/N)*((y-m*x-c)**2)
    return cst

def run():
    data=np.loadtxt("C:\\Users\\jhasa\\Desktop\\data.csv",delimiter=',')
    learning_rate=0.0001
    no_iterations=10
    m,c=gd(data,learning_rate,no_iterations)
    print(m,c)
run()

0 0.7370702973591053 0.014547010110737297 1484.5865574086486
1 1.1067954543515157 0.02187396295959641 457.8542575737672
2 1.2922546649131115 0.025579224321293136 199.5099857255389
3 1.385283255651245 0.027467789559144355 134.50591058200533
4 1.4319472323843205 0.028445071981738963 118.1496934223995
5 1.4553540088980408 0.028965240766478616 114.0341490603815
6 1.4670946177201354 0.029256114126046697 112.99857731713657
7 1.4729832982243762 0.029431969163807123 112.73798187568467
8 1.4759365618962286 0.029550129024383066 112.6723843590911
9 1.47741737554838 0.029639347874732384 112.65585181499745
1.47741737554838 0.029639347874732384