### LAYOUT OF FILE WHEN ACCESSED THROUGH PANDAS

In [3]:
import pandas as pd
file=pd.read_csv("C:\\Users\\jhasa\\Desktop\\year2017.csv")
file[:4]

,Year,Month,Day,Country,Region,city,latitude,longitude,AttackType,Killed,Wounded,Target,Group,Target_type,Weapon_type,casualities
0,2017,1,2,Afghanistan,South Asia,Takhta Pul,31.320556,65.961111,Hostage Taking (Kidnapping),0.0,0.0,Construction Workers,Taliban,Business,Firearms,0.0
1,2017,1,3,Sudan,Sub-Saharan Africa,Fantaga,12.921007,24.318324,Armed Assault,2.0,0.0,"Civilians: Haroun Yousif, Hamid Ibrahim",Unknown,Private Citizens & Property,Firearms,2.0
2,2017,1,1,Democratic Republic of the Congo,Sub-Saharan Africa,Saboko,1.452372,29.875162,Armed Assault,7.0,0.0,Village,Allied Democratic Forces (ADF),Private Citizens & Property,Melee,7.0
3,2017,1,1,Democratic Republic of the Congo,Sub-Saharan Africa,Bialee,1.452370,29.875186,Armed Assault,7.0,0.0,Village,Allied Democratic Forces (ADF),Private Citizens & Property,Melee,7.0

### LAYOUT OF IRIS FILE

In [4]:
import pandas as pd 
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### ACCESSING DATA IN PANDAS : DF.HEAD()     DF.COLUMNS     DF.SHAPES DF.DTYPES     DF.DESCRIBE()     DF.COLUMN_NAME DF.ISNULL() DF.ISNULL().SUM()       DF.ILOC()

In [6]:
import pandas as pd 
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
df=iris.copy()
df.head() # by default it shows first 5 rows excluding the column headers

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [7]:
df.columns = ['sl','sw','pl','pw','flower_type']
df.head(10)

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

In [8]:
print(df.shape)
print(df.dtypes) # note in numpy it was only dtype but in pandas it's dtypes

(149, 5)
sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [9]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [10]:
df.sl[:10]

0    4.9
1    4.7
2    4.6
3    5.0
4    5.4
5    4.6
6    5.0
7    4.4
8    4.9
9    5.4
Name: sl, dtype: float64

In [11]:
df.isnull()[:10]

      sl     sw     pl     pw  flower_type
0  False  False  False  False        False
1  False  False  False  False        False
2  False  False  False  False        False
3  False  False  False  False        False
4  False  False  False  False        False
5  False  False  False  False        False
6  False  False  False  False        False
7  False  False  False  False        False
8  False  False  False  False        False
9  False  False  False  False        False

In [12]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [13]:
df.iloc[4:10,2:5]

    pl   pw  flower_type
4  1.7  0.4  Iris-setosa
5  1.4  0.3  Iris-setosa
6  1.5  0.2  Iris-setosa
7  1.4  0.2  Iris-setosa
8  1.5  0.1  Iris-setosa
9  1.5  0.2  Iris-setosa

In [15]:
df.iloc[3:5,2]

3    1.4
4    1.7
Name: pl, dtype: float64

In [16]:
df.iloc[3:5,2:3]

    pl
3  1.4
4  1.7

In [17]:
df.iloc[3,2:5]

pl                     1.4
pw                     0.2
flower_type    Iris-setosa
Name: 3, dtype: object

In [18]:
df.iloc[3:4,2:5]

    pl   pw  flower_type
3  1.4  0.2  Iris-setosa

### MANUPILATING DATA IN DATA FRAME-1 : DF.DROP() BY LABEL AND POSITION DF.INDEX DF.LOC() ADD A ROW

In [19]:
df=iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']
df.drop(0)
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [20]:
# drop by label
df.drop(0,inplace=True)
df.head() # PLEASE NOT THE ROW LABELLED 0 NO LONGER EXISTS THAT MEANS DROP REMOVED ROW BY LABEL NOT BY POSITION

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [21]:
df.drop(0,inplace=True)
df.head() # as i said drop() removes by labela and label 0 in no longer present

KeyError: '[0] not found in axis'

In [22]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [23]:
# drop by position
df.drop(df.index[0],inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [24]:
df[df.flower_type=='Iris-setosa']

     sl   sw   pl   pw  flower_type
2   4.6  3.1  1.5  0.2  Iris-setosa
3   5.0  3.6  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa
24  5.0  3.0  1.6  0.2  Iris-setosa
25  5.0  3.4  1.6  0.4  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa
30  5.4  3.4  1.5  0.4  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa
33  4.9  3.1  1.5  0.1  Iris-setosa
34  5.0  3.2  1.2  0.2  Iris-setosa
35  5.5  3.5  1.3  0.2  Iris-setosa
36  4.9  3.1  1.5  0.1  Iris-setosa
37  4.4  3.0  1.3  0.2  Iris-setosa
38  5.1  3.4  1.5  0.2  Iris-setosa
39  5.0  3.5  1.3  0.3  Iris-setosa
40  4.5  2.3  1.3  0.3  Iris-setosa
41  4.4  3.2  1.3  0.2  Iris-setosa
42  5.0  3.5  1.6  0.6  Iris-setosa
43  5.1  3.8  1.9  0.4  Iris-setosa
44  4.8  3.0  1.4  0.3  Iris-setosa
45  5.1  3.8  1.6  0.2  Iris-setosa
46  4.6  3.2  1.4  0.2  Iris-setosa
47  5.3  3.7  1.5  0.2  Iris-setosa
48  5.0  3.3  1.4  0.2  Iris-setosa

In [25]:
df[df.flower_type=='Iris-setosa'].describe()

              sl         sw         pl         pw
count  47.000000  47.000000  47.000000  47.000000
mean    5.012766   3.429787   1.470213   0.246809
std     0.360324   0.386689   0.176826   0.110042
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.150000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

In [26]:
df.head(10)

     sl   sw   pl   pw  flower_type
2   4.6  3.1  1.5  0.2  Iris-setosa
3   5.0  3.6  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa

In [43]:
df.iloc[0:5,0:4] # accesses by position

    sl   sw   pl   pw
2  4.6  3.1  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4
5  4.6  3.4  1.4  0.3
6  5.0  3.4  1.5  0.2

In [28]:
df.loc[0] # got error because loc accesses through label

KeyError: 0

In [40]:
df.loc[2:7,['sl','pl','pw']]

    sl   pl   pw
2  4.6  1.5  0.2
3  5.0  1.4  0.2
4  5.4  1.7  0.4
5  4.6  1.4  0.3
6  5.0  1.5  0.2
7  4.4  1.4  0.2

In [114]:
# add a row
df.loc[149]=[1,2,3,4,'Iris-versicolor']
df.tail()

      sl   sw   pl   pw      flower_type
145  6.3  2.5  5.0  1.9   Iris-virginica
146  6.5  3.0  5.2  2.0   Iris-virginica
147  6.2  3.4  5.4  2.3   Iris-virginica
148  5.9  3.0  5.1  1.8   Iris-virginica
149  1.0  2.0  3.0  4.0  Iris-versicolor

### PROBLEM : COUNTS OF FLOWER

In [170]:
import pandas as pd
column_name=['sl','sw','pl','pw','flower_type']
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=column_name)
x=iris.flower_type.value_counts()  
print(x)
for ele in x:
    print(ele,end=" ")

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: flower_type, dtype: int64
50 50 50

### PROBLEM : IRIS VIRGINICA

In [171]:
import pandas as pd
column_name=['sl','sw','pl','pw','flower_type']
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=column_name)
df=iris[iris.flower_type=='Iris-virginica']
df=df[df.pl>1.5]
val=df.shape[0]
for i in range(50):
    print(df.sl[df.index[i]],df.sw[df.index[i]],df.pl[df.index[i]],df.pw[df.index[i]],df.flower_type[df.index[i]])

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

In [176]:
import pandas as pd
column_name=['sl','sw','pl','pw','flower_type']
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=column_name)
df=iris[iris.flower_type=='Iris-virginica']
df=df[df.pl>1.5]
arr=df.values
for row in arr:
    print(*row)

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

### MANIPULATING DATA IN DATA FRAME - 2 DROP COLUMN ADD A COLUMN AND RESET_INDEX

In [213]:
import pandas as pd
column_name=['sl','sw','pl','pw','flower_type']
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=column_name)
df=iris.copy()
df.drop([0,1,2,3],inplace=True)
df

      sl   sw   pl   pw     flower_type
4    5.0  3.6  1.4  0.2     Iris-setosa
5    5.4  3.9  1.7  0.4     Iris-setosa
6    4.6  3.4  1.4  0.3     Iris-setosa
7    5.0  3.4  1.5  0.2     Iris-setosa
8    4.4  2.9  1.4  0.2     Iris-setosa
9    4.9  3.1  1.5  0.1     Iris-setosa
10   5.4  3.7  1.5  0.2     Iris-setosa
11   4.8  3.4  1.6  0.2     Iris-setosa
12   4.8  3.0  1.4  0.1     Iris-setosa
13   4.3  3.0  1.1  0.1     Iris-setosa
14   5.8  4.0  1.2  0.2     Iris-setosa
15   5.7  4.4  1.5  0.4     Iris-setosa
16   5.4  3.9  1.3  0.4     Iris-setosa
17   5.1  3.5  1.4  0.3     Iris-setosa
18   5.7  3.8  1.7  0.3     Iris-setosa
19   5.1  3.8  1.5  0.3     Iris-setosa
20   5.4  3.4  1.7  0.2     Iris-setosa
21   5.1  3.7  1.5  0.4     Iris-setosa
22   4.6  3.6  1.0  0.2     Iris-setosa
23   5.1  3.3  1.7  0.5     Iris-setosa
24   4.8  3.4  1.9  0.2     Iris-setosa
25   5.0  3.0  1.6  0.2     Iris-setosa
26   5.0  3.4  1.6  0.4     Iris-setosa
27   5.2  3.5  1.5  0.2     Iris-setosa
28   5.2  3.4  1.4  0.2     Iris-setosa
29   4.7  3.2  1.6  0.2     Iris-setosa
30   4.8  3.1  1.6  0.2     Iris-setosa
31   5.4  3.4  1.5  0.4     Iris-setosa
32   5.2  4.1  1.5  0.1     Iris-setosa
33   5.5  4.2  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
120  6.9  3.2  5.7  2.3  Iris-virginica
121  5.6  2.8  4.9  2.0  Iris-virginica
122  7.7  2.8  6.7  2.0  Iris-virginica
123  6.3  2.7  4.9  1.8  Iris-virginica
124  6.7  3.3  5.7  2.1  Iris-virginica
125  7.2  3.2  6.0  1.8  Iris-virginica
126  6.2  2.8  4.8  1.8  Iris-virginica
127  6.1  3.0  4.9  1.8  Iris-virginica
128  6.4  2.8  5.6  2.1  Iris-virginica
129  7.2  3.0  5.8  1.6  Iris-virginica
130  7.4  2.8  6.1  1.9  Iris-virginica
131  7.9  3.8  6.4  2.0  Iris-virginica
132  6.4  2.8  5.6  2.2  Iris-virginica
133  6.3  2.8  5.1  1.5  Iris-virginica
134  6.1  2.6  5.6  1.4  Iris-virginica
135  7.7  3.0  6.1  2.3  Iris-virginica
136  6.3  3.4  5.6  2.4  Iris-virginica
137  6.4  3.1  5.5  1.8  Iris-virginica
138  6.0  3.0  4.8  1.8  Iris-virginica
139  6.9  3.1  5.4  2.1  Iris-virginica
140  6.7  3.1  5.6  2.4  Iris-virginica
141  6.9  3.1  5.1  2.3  Iris-virginica
142  5.8  2.7  5.1  1.9  Iris-virginica
143  6.8  3.2  5.9  2.3  Iris-virginica
144  6.7  3.3  5.7  2.5  Iris-virginica
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[146 rows x 5 columns]

In [202]:
df.reset_index()

     index   sl   sw   pl   pw     flower_type
0        4  5.0  3.6  1.4  0.2     Iris-setosa
1        5  5.4  3.9  1.7  0.4     Iris-setosa
2        6  4.6  3.4  1.4  0.3     Iris-setosa
3        7  5.0  3.4  1.5  0.2     Iris-setosa
4        8  4.4  2.9  1.4  0.2     Iris-setosa
5        9  4.9  3.1  1.5  0.1     Iris-setosa
6       10  5.4  3.7  1.5  0.2     Iris-setosa
7       11  4.8  3.4  1.6  0.2     Iris-setosa
8       12  4.8  3.0  1.4  0.1     Iris-setosa
9       13  4.3  3.0  1.1  0.1     Iris-setosa
10      14  5.8  4.0  1.2  0.2     Iris-setosa
11      15  5.7  4.4  1.5  0.4     Iris-setosa
12      16  5.4  3.9  1.3  0.4     Iris-setosa
13      17  5.1  3.5  1.4  0.3     Iris-setosa
14      18  5.7  3.8  1.7  0.3     Iris-setosa
15      19  5.1  3.8  1.5  0.3     Iris-setosa
16      20  5.4  3.4  1.7  0.2     Iris-setosa
17      21  5.1  3.7  1.5  0.4     Iris-setosa
18      22  4.6  3.6  1.0  0.2     Iris-setosa
19      23  5.1  3.3  1.7  0.5     Iris-setosa
20      24  4.8  3.4  1.9  0.2     Iris-setosa
21      25  5.0  3.0  1.6  0.2     Iris-setosa
22      26  5.0  3.4  1.6  0.4     Iris-setosa
23      27  5.2  3.5  1.5  0.2     Iris-setosa
24      28  5.2  3.4  1.4  0.2     Iris-setosa
25      29  4.7  3.2  1.6  0.2     Iris-setosa
26      30  4.8  3.1  1.6  0.2     Iris-setosa
27      31  5.4  3.4  1.5  0.4     Iris-setosa
28      32  5.2  4.1  1.5  0.1     Iris-setosa
29      33  5.5  4.2  1.4  0.2     Iris-setosa
..     ...  ...  ...  ...  ...             ...
116    120  6.9  3.2  5.7  2.3  Iris-virginica
117    121  5.6  2.8  4.9  2.0  Iris-virginica
118    122  7.7  2.8  6.7  2.0  Iris-virginica
119    123  6.3  2.7  4.9  1.8  Iris-virginica
120    124  6.7  3.3  5.7  2.1  Iris-virginica
121    125  7.2  3.2  6.0  1.8  Iris-virginica
122    126  6.2  2.8  4.8  1.8  Iris-virginica
123    127  6.1  3.0  4.9  1.8  Iris-virginica
124    128  6.4  2.8  5.6  2.1  Iris-virginica
125    129  7.2  3.0  5.8  1.6  Iris-virginica
126    130  7.4  2.8  6.1  1.9  Iris-virginica
127    131  7.9  3.8  6.4  2.0  Iris-virginica
128    132  6.4  2.8  5.6  2.2  Iris-virginica
129    133  6.3  2.8  5.1  1.5  Iris-virginica
130    134  6.1  2.6  5.6  1.4  Iris-virginica
131    135  7.7  3.0  6.1  2.3  Iris-virginica
132    136  6.3  3.4  5.6  2.4  Iris-virginica
133    137  6.4  3.1  5.5  1.8  Iris-virginica
134    138  6.0  3.0  4.8  1.8  Iris-virginica
135    139  6.9  3.1  5.4  2.1  Iris-virginica
136    140  6.7  3.1  5.6  2.4  Iris-virginica
137    141  6.9  3.1  5.1  2.3  Iris-virginica
138    142  5.8  2.7  5.1  1.9  Iris-virginica
139    143  6.8  3.2  5.9  2.3  Iris-virginica
140    144  6.7  3.3  5.7  2.5  Iris-virginica
141    145  6.7  3.0  5.2  2.3  Iris-virginica
142    146  6.3  2.5  5.0  1.9  Iris-virginica
143    147  6.5  3.0  5.2  2.0  Iris-virginica
144    148  6.2  3.4  5.4  2.3  Iris-virginica
145    149  5.9  3.0  5.1  1.8  Iris-virginica

[146 rows x 6 columns]

In [214]:
df.reset_index(drop=True,inplace=True)
df

      sl   sw   pl   pw     flower_type
0    5.0  3.6  1.4  0.2     Iris-setosa
1    5.4  3.9  1.7  0.4     Iris-setosa
2    4.6  3.4  1.4  0.3     Iris-setosa
3    5.0  3.4  1.5  0.2     Iris-setosa
4    4.4  2.9  1.4  0.2     Iris-setosa
5    4.9  3.1  1.5  0.1     Iris-setosa
6    5.4  3.7  1.5  0.2     Iris-setosa
7    4.8  3.4  1.6  0.2     Iris-setosa
8    4.8  3.0  1.4  0.1     Iris-setosa
9    4.3  3.0  1.1  0.1     Iris-setosa
10   5.8  4.0  1.2  0.2     Iris-setosa
11   5.7  4.4  1.5  0.4     Iris-setosa
12   5.4  3.9  1.3  0.4     Iris-setosa
13   5.1  3.5  1.4  0.3     Iris-setosa
14   5.7  3.8  1.7  0.3     Iris-setosa
15   5.1  3.8  1.5  0.3     Iris-setosa
16   5.4  3.4  1.7  0.2     Iris-setosa
17   5.1  3.7  1.5  0.4     Iris-setosa
18   4.6  3.6  1.0  0.2     Iris-setosa
19   5.1  3.3  1.7  0.5     Iris-setosa
20   4.8  3.4  1.9  0.2     Iris-setosa
21   5.0  3.0  1.6  0.2     Iris-setosa
22   5.0  3.4  1.6  0.4     Iris-setosa
23   5.2  3.5  1.5  0.2     Iris-setosa
24   5.2  3.4  1.4  0.2     Iris-setosa
25   4.7  3.2  1.6  0.2     Iris-setosa
26   4.8  3.1  1.6  0.2     Iris-setosa
27   5.4  3.4  1.5  0.4     Iris-setosa
28   5.2  4.1  1.5  0.1     Iris-setosa
29   5.5  4.2  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
116  6.9  3.2  5.7  2.3  Iris-virginica
117  5.6  2.8  4.9  2.0  Iris-virginica
118  7.7  2.8  6.7  2.0  Iris-virginica
119  6.3  2.7  4.9  1.8  Iris-virginica
120  6.7  3.3  5.7  2.1  Iris-virginica
121  7.2  3.2  6.0  1.8  Iris-virginica
122  6.2  2.8  4.8  1.8  Iris-virginica
123  6.1  3.0  4.9  1.8  Iris-virginica
124  6.4  2.8  5.6  2.1  Iris-virginica
125  7.2  3.0  5.8  1.6  Iris-virginica
126  7.4  2.8  6.1  1.9  Iris-virginica
127  7.9  3.8  6.4  2.0  Iris-virginica
128  6.4  2.8  5.6  2.2  Iris-virginica
129  6.3  2.8  5.1  1.5  Iris-virginica
130  6.1  2.6  5.6  1.4  Iris-virginica
131  7.7  3.0  6.1  2.3  Iris-virginica
132  6.3  3.4  5.6  2.4  Iris-virginica
133  6.4  3.1  5.5  1.8  Iris-virginica
134  6.0  3.0  4.8  1.8  Iris-virginica
135  6.9  3.1  5.4  2.1  Iris-virginica
136  6.7  3.1  5.6  2.4  Iris-virginica
137  6.9  3.1  5.1  2.3  Iris-virginica
138  5.8  2.7  5.1  1.9  Iris-virginica
139  6.8  3.2  5.9  2.3  Iris-virginica
140  6.7  3.3  5.7  2.5  Iris-virginica
141  6.7  3.0  5.2  2.3  Iris-virginica
142  6.3  2.5  5.0  1.9  Iris-virginica
143  6.5  3.0  5.2  2.0  Iris-virginica
144  6.2  3.4  5.4  2.3  Iris-virginica
145  5.9  3.0  5.1  1.8  Iris-virginica

[146 rows x 5 columns]

In [208]:
df.index

RangeIndex(start=0, stop=146, step=1)

In [215]:
# delete column
df.drop('sl',axis=1,inplace=True)
df

      sw   pl   pw     flower_type
0    3.6  1.4  0.2     Iris-setosa
1    3.9  1.7  0.4     Iris-setosa
2    3.4  1.4  0.3     Iris-setosa
3    3.4  1.5  0.2     Iris-setosa
4    2.9  1.4  0.2     Iris-setosa
5    3.1  1.5  0.1     Iris-setosa
6    3.7  1.5  0.2     Iris-setosa
7    3.4  1.6  0.2     Iris-setosa
8    3.0  1.4  0.1     Iris-setosa
9    3.0  1.1  0.1     Iris-setosa
10   4.0  1.2  0.2     Iris-setosa
11   4.4  1.5  0.4     Iris-setosa
12   3.9  1.3  0.4     Iris-setosa
13   3.5  1.4  0.3     Iris-setosa
14   3.8  1.7  0.3     Iris-setosa
15   3.8  1.5  0.3     Iris-setosa
16   3.4  1.7  0.2     Iris-setosa
17   3.7  1.5  0.4     Iris-setosa
18   3.6  1.0  0.2     Iris-setosa
19   3.3  1.7  0.5     Iris-setosa
20   3.4  1.9  0.2     Iris-setosa
21   3.0  1.6  0.2     Iris-setosa
22   3.4  1.6  0.4     Iris-setosa
23   3.5  1.5  0.2     Iris-setosa
24   3.4  1.4  0.2     Iris-setosa
25   3.2  1.6  0.2     Iris-setosa
26   3.1  1.6  0.2     Iris-setosa
27   3.4  1.5  0.4     Iris-setosa
28   4.1  1.5  0.1     Iris-setosa
29   4.2  1.4  0.2     Iris-setosa
..   ...  ...  ...             ...
116  3.2  5.7  2.3  Iris-virginica
117  2.8  4.9  2.0  Iris-virginica
118  2.8  6.7  2.0  Iris-virginica
119  2.7  4.9  1.8  Iris-virginica
120  3.3  5.7  2.1  Iris-virginica
121  3.2  6.0  1.8  Iris-virginica
122  2.8  4.8  1.8  Iris-virginica
123  3.0  4.9  1.8  Iris-virginica
124  2.8  5.6  2.1  Iris-virginica
125  3.0  5.8  1.6  Iris-virginica
126  2.8  6.1  1.9  Iris-virginica
127  3.8  6.4  2.0  Iris-virginica
128  2.8  5.6  2.2  Iris-virginica
129  2.8  5.1  1.5  Iris-virginica
130  2.6  5.6  1.4  Iris-virginica
131  3.0  6.1  2.3  Iris-virginica
132  3.4  5.6  2.4  Iris-virginica
133  3.1  5.5  1.8  Iris-virginica
134  3.0  4.8  1.8  Iris-virginica
135  3.1  5.4  2.1  Iris-virginica
136  3.1  5.6  2.4  Iris-virginica
137  3.1  5.1  2.3  Iris-virginica
138  2.7  5.1  1.9  Iris-virginica
139  3.2  5.9  2.3  Iris-virginica
140  3.3  5.7  2.5  Iris-virginica
141  3.0  5.2  2.3  Iris-virginica
142  2.5  5.0  1.9  Iris-virginica
143  3.0  5.2  2.0  Iris-virginica
144  3.4  5.4  2.3  Iris-virginica
145  3.0  5.1  1.8  Iris-virginica

[146 rows x 4 columns]

In [216]:
df.describe()

               sw          pl          pw
count  146.000000  146.000000  146.000000
mean     3.050000    3.823288    1.226027
std      0.437745    1.743917    0.755125
min      2.000000    1.000000    0.100000
25%      2.800000    1.600000    0.325000
50%      3.000000    4.400000    1.300000
75%      3.300000    5.100000    1.800000
max      4.400000    6.900000    2.500000

In [217]:
del df['sw']
df.describe()

               pl          pw
count  146.000000  146.000000
mean     3.823288    1.226027
std      1.743917    0.755125
min      1.000000    0.100000
25%      1.600000    0.325000
50%      4.400000    1.300000
75%      5.100000    1.800000
max      6.900000    2.500000

In [218]:
df['diff_pl_pw']=df['pl']-df['pw']
df.head()

    pl   pw  flower_type  diff_pl_pw
0  1.4  0.2  Iris-setosa         1.2
1  1.7  0.4  Iris-setosa         1.3
2  1.4  0.3  Iris-setosa         1.1
3  1.5  0.2  Iris-setosa         1.3
4  1.4  0.2  Iris-setosa         1.2

### PROBLEM : IRIS FEATURE

In [247]:
import pandas as pd
column_name=['sl','sw','pl','pw','flower_type']
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=column_name)
df=iris.copy()
df1=df[df.flower_type=='Iris-virginica']
df2=df[df.flower_type=='Iris-versicolor']
df3=df[df.flower_type=='Iris-setosa']
a1=df3.describe().values
a2=df2.describe().values
a3=df1.describe().values
a= list(map(lambda x: format(x,'.2f'), a1[3]))
print(*a,'Iris-setosa')
a= list(map(lambda x: format(x,'.2f'), a1[7]))
print(*a,'Iris-setosa')
a= list(map(lambda x: format(x,'.2f'), a1[1]))
print(*a,'Iris-setosa')
a= list(map(lambda x: format(x,'.2f'), a2[3]))
print(*a,'Iris-versicolor')
a= list(map(lambda x: format(x,'.2f'), a2[7]))
print(*a,'Iris-versicolor')
a= list(map(lambda x: format(x,'.2f'), a2[1]))
print(*a,'Iris-versicolor')
a= list(map(lambda x: format(x,'.2f'), a3[3]))
print(*a,'Iris-virginica')
a= list(map(lambda x: format(x,'.2f'), a3[7]))
print(*a,'Iris-virginica')
a= list(map(lambda x: format(x,'.2f'), a3[1]))
print(*a,'Iris-virginica')

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

### HANDLING NAN

In [253]:
import pandas as pd
import numpy as sj
column_name=['sl','sw','pl','pw','flower_type']
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=column_name)
df=iris.copy()
df.iloc[2:4,1:3]=sj.nan
df.head()

    sl   sw   pl   pw  flower_type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  NaN  NaN  0.2  Iris-setosa
3  4.6  NaN  NaN  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [256]:
df.dropna(inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa
5  5.4  3.9  1.7  0.4  Iris-setosa
6  4.6  3.4  1.4  0.3  Iris-setosa

In [257]:
df.reset_index(drop=True,inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  5.0  3.6  1.4  0.2  Iris-setosa
3  5.4  3.9  1.7  0.4  Iris-setosa
4  4.6  3.4  1.4  0.3  Iris-setosa

In [263]:
df.iloc[2:4,1:3]=sj.nan
df.head()

    sl   sw   pl   pw  flower_type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  5.0  NaN  NaN  0.2  Iris-setosa
3  5.4  NaN  NaN  0.4  Iris-setosa
4  4.6  3.4  1.4  0.3  Iris-setosa

In [264]:
df.sw.fillna(df.sw.mean(),inplace=True)
df.head()

    sl        sw   pl   pw  flower_type
0  5.1  3.500000  1.4  0.2  Iris-setosa
1  4.9  3.000000  1.4  0.2  Iris-setosa
2  5.0  3.043151  NaN  0.2  Iris-setosa
3  5.4  3.043151  NaN  0.4  Iris-setosa
4  4.6  3.400000  1.4  0.3  Iris-setosa

In [270]:
df1=df[df.flower_type=='Iris-setosa']
x=df1.pl.mean()
df.pl.fillna(x,inplace=True)
df.head()

    sl        sw        pl   pw  flower_type
0  5.1  3.500000  1.400000  0.2  Iris-setosa
1  4.9  3.000000  1.400000  0.2  Iris-setosa
2  5.0  3.043151  1.463043  0.2  Iris-setosa
3  5.4  3.043151  1.463043  0.4  Iris-setosa
4  4.6  3.400000  1.400000  0.3  Iris-setosa

### HANDLING STRINGS IN DATA

In [298]:
import pandas as pd
import numpy as sj
column_name=['sl','sw','pl','pw','flower_type']
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=column_name)
df=iris.copy()
df['Gender']='Female'
df.iloc[3:10,5]='Male'
df.head(10)

    sl   sw   pl   pw  flower_type  Gender
0  5.1  3.5  1.4  0.2  Iris-setosa  Female
1  4.9  3.0  1.4  0.2  Iris-setosa  Female
2  4.7  3.2  1.3  0.2  Iris-setosa  Female
3  4.6  3.1  1.5  0.2  Iris-setosa    Male
4  5.0  3.6  1.4  0.2  Iris-setosa    Male
5  5.4  3.9  1.7  0.4  Iris-setosa    Male
6  4.6  3.4  1.4  0.3  Iris-setosa    Male
7  5.0  3.4  1.5  0.2  Iris-setosa    Male
8  4.4  2.9  1.4  0.2  Iris-setosa    Male
9  4.9  3.1  1.5  0.1  Iris-setosa    Male

In [301]:
def f(s):
    if s=='Male':
        return 0
    return 1

df['sex']=df.Gender.apply(f)
df.head(10)

    sl   sw   pl   pw  flower_type  Gender  sex
0  5.1  3.5  1.4  0.2  Iris-setosa  Female    1
1  4.9  3.0  1.4  0.2  Iris-setosa  Female    1
2  4.7  3.2  1.3  0.2  Iris-setosa  Female    1
3  4.6  3.1  1.5  0.2  Iris-setosa    Male    0
4  5.0  3.6  1.4  0.2  Iris-setosa    Male    0
5  5.4  3.9  1.7  0.4  Iris-setosa    Male    0
6  4.6  3.4  1.4  0.3  Iris-setosa    Male    0
7  5.0  3.4  1.5  0.2  Iris-setosa    Male    0
8  4.4  2.9  1.4  0.2  Iris-setosa    Male    0
9  4.9  3.1  1.5  0.1  Iris-setosa    Male    0

In [304]:
df.drop('Gender',axis=1,inplace=True)
df.head(10)

    sl   sw   pl   pw  flower_type  sex
0  5.1  3.5  1.4  0.2  Iris-setosa    1
1  4.9  3.0  1.4  0.2  Iris-setosa    1
2  4.7  3.2  1.3  0.2  Iris-setosa    1
3  4.6  3.1  1.5  0.2  Iris-setosa    0
4  5.0  3.6  1.4  0.2  Iris-setosa    0
5  5.4  3.9  1.7  0.4  Iris-setosa    0
6  4.6  3.4  1.4  0.3  Iris-setosa    0
7  5.0  3.4  1.5  0.2  Iris-setosa    0
8  4.4  2.9  1.4  0.2  Iris-setosa    0
9  4.9  3.1  1.5  0.1  Iris-setosa    0