### NUMBER OF FUNDINGS

In [160]:
import numpy as np,pandas as pd,csv
with open('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8") as file_obj:
    file_data=csv.DictReader(file_obj,skipinitialspace=True)
    date=[]
    for row in file_data:
        date.append(row['Date'][-4::])
    date=np.array(date,dtype=int)
    year,counts=np.unique(date,return_counts=True)
    for i in range(3):
        print(int(year[i]),int(counts[i]))

2015 936
2016 993
2017 443

In [157]:
import numpy as np,pandas as pd,csv
df=pd.read_csv('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8")
df=df.Date
df=df.str.replace('.','/')
df=df.str.replace('//','/')
df=df.str.split('/',expand=True)
df=df[2]
freq=df.value_counts()
freq.sort_index(inplace=True)
for i in range(3):
    print(int(freq.index[i]),int(freq.values[i]))

2015 936
2016 993
2017 443

### TOP INDIAN CITIES

In [30]:
import numpy as np,pandas as pd,csv
df=pd.read_csv('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8")
df=df.CityLocation
df.dropna(inplace=True)
df=df.str.split('/',expand=True)
df=df[0].str.strip()
df.replace("Delhi","New Delhi",inplace =True)
df.replace("bangalore","Bangalore",inplace =True)
freq=df.value_counts()
for i in range(10):    
    s=freq.index[i]    
    print(s,int(freq.values[i]))

Bangalore 635
Mumbai 449
New Delhi 389
Gurgaon 241
Pune 91
Noida 79
Hyderabad 77
Chennai 67
Ahmedabad 35
Jaipur 25

In [49]:
import numpy as np,pandas as pd,csv
with open('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8") as file_obj:
    file_data=csv.DictReader(file_obj,skipinitialspace=True)
    city=[]
    count=0
    for row in file_data:
        cty=row['CityLocation']
        cty=cty.split('/')[0].strip()           
        if cty=='bangalore':           
            city.append('Bangalore')
        elif cty=='Delhi':
            city.append('New Delhi')
        else:
            city.append(cty)    
    city=np.array(city)
    city=city[city!='']
    key,value=np.unique(city,return_counts=True)
    ind=value.argsort()
    x=len(ind)
    for i in range(x-1,x-11,-1):
        print(key[ind[i]],value[ind[i]])

Bangalore 635
Mumbai 449
New Delhi 389
Gurgaon 241
Pune 91
Noida 79
Hyderabad 77
Chennai 67
Ahmedabad 35
Jaipur 25

### FUNDING AMOUNT

In [253]:
import numpy as np,pandas as pd,csv
df=pd.read_csv('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8")
df=df.loc[:,['CityLocation','AmountInUSD']]
df.dropna(inplace=True)
df['CityLocation']=df.CityLocation.str.split('/',expand=True)[0]
df['CityLocation']=df.CityLocation.str.strip()
df.CityLocation.replace("Delhi","New Delhi",inplace =True)
df.CityLocation.replace("bangalore","Bangalore",inplace =True)
df['AmountInUSD']=df.AmountInUSD.str.replace(',','')
df['AmountInUSD']=pd.to_numeric(df.AmountInUSD)
cty=df.CityLocation
cty=cty.value_counts()
cty=cty.index
li=[]
for ele in cty:
    df[ele]=df.AmountInUSD[df.CityLocation==ele]
    li.append([df[ele].sum(),ele])
li.sort(reverse=True)
sm=0
for i in range(10):
    sm+=li[i][0]
for i in range(10):
    val=round(((li[i][0])/sm)*100,2)
    print(li[i][1],format(val,'.2f'))

Bangalore 49.71
New Delhi 16.63
Mumbai 13.90
Gurgaon 12.21
Chennai 2.43
Pune 2.16
Hyderabad 1.15
Noida 1.01
Ahmedabad 0.58
Jaipur 0.21

### INVESTMENT TYPE

In [187]:
import numpy as np,pandas as pd,csv
df=pd.read_csv('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8")
df=df.loc[:,['InvestmentType','AmountInUSD']]
df.dropna(inplace=True)
df['InvestmentType']=df.InvestmentType.str.replace('PrivateEquity','Private Equity')
df['InvestmentType']=df.InvestmentType.str.replace('Crowd funding','Crowd Funding')
df['InvestmentType']=df.InvestmentType.str.replace('SeedFunding','Seed Funding')
df['AmountInUSD']=df.AmountInUSD.str.replace(',','')
df['AmountInUSD']=pd.to_numeric(df.AmountInUSD)
sm=df.AmountInUSD.sum()
npy=df.InvestmentType.unique()
li=[]
for ele in npy:
    x=df.AmountInUSD[df.InvestmentType==ele].sum()
    li.append([round(((x)/sm)*100,2),ele])
for i in range(4):
    print(li[i][1],format(li[i][0],'.2f'))

Private Equity 98.15
Seed Funding 1.81
Debt Funding 0.04
Crowd Funding 0.00

### TOP INDUSTRIES

In [250]:
import numpy as np,pandas as pd,csv
df=pd.read_csv('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8")
df=df.loc[:,['IndustryVertical','AmountInUSD']]
df.dropna(inplace=True)
for i in df.IndustryVertical.unique(): # used this to find out incorrect representation of Ecommerce   
    if i.lower() == "ecommerce":
        print(i)
df['IndustryVertical']=df.IndustryVertical.str.replace('eCommerce','Ecommerce')
df['IndustryVertical']=df.IndustryVertical.str.replace('ecommerce','Ecommerce')  #added this line
df['IndustryVertical']=df.IndustryVertical.str.replace('ECommerce','Ecommerce')   #added this line
df['AmountInUSD']=df.AmountInUSD.str.replace(',','')
df['AmountInUSD']=pd.to_numeric(df.AmountInUSD)
npy=df.IndustryVertical.unique()
li=[]
for ele in npy:
    x=df.AmountInUSD[df.IndustryVertical==ele].sum()
    li.append([x,ele])
li.sort(reverse=True)
sm=0
for i in range(5):
    sm+=li[i][0]
for i in range(5):
    val=round(((li[i][0])/sm)*100,2)
    print(li[i][1],format(val,'.2f'))

eCommerce
ECommerce
ecommerce
Ecommerce
Ecommerce 40.53
Consumer Internet 35.95
Technology 10.45
Online Marketplace 6.63
E-Commerce & M-Commerce platform 6.44

### TOP STARTUPS

In [275]:
import numpy as np,pandas as pd,csv
df=pd.read_csv('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8")
df=df.loc[:,['StartupName','AmountInUSD']]
df.dropna(inplace=True)
#for i in df.StartupName.unique(): # used this to find out incorrect representation of startup name   
 #   j=i.lower()
    #if 'ola' in j:
     #   print(i)
    #if 'flipkart' in j:
     #   print(i)
    #if 'oyo' in j:
     #   print(i)
    #if 'paytm' in j:
     #   print(i)
        
df['StartupName']=df.StartupName.str.replace('Olacabs','Ola')
df['StartupName']=df.StartupName.str.replace('Ola cabs','Ola')
df['StartupName']=df.StartupName.str.replace('Ola Cabs','Ola')
df['StartupName']=df.StartupName.str.replace('Flipkart.com','Flipkart')
df['StartupName']=df.StartupName.str.replace('Oyo Rooms','Oyo')
df['StartupName']=df.StartupName.str.replace('OyoRooms','Oyo')
df['StartupName']=df.StartupName.str.replace('Oyorooms','Oyo')
df['StartupName']=df.StartupName.str.replace('OYO Rooms','Oyo')
df['StartupName']=df.StartupName.str.replace('Paytm Marketplace','Paytm')
#print()
#for i in df.StartupName.unique(): # used to check whether the names got corrected or not
 #   j=i.lower()
    #if 'ola' in j:
     #   print(i)
    #if 'flipkart' in j:
     #   print(i)
    #if 'oyo' in j:
     #   print(i)
    #if 'paytm' in j:
     #   print(i)
df['AmountInUSD']=df.AmountInUSD.str.replace(',','')
df['AmountInUSD']=pd.to_numeric(df.AmountInUSD)
npy=df.StartupName.unique()
li=[]
for ele in npy:
    x=df.AmountInUSD[df.StartupName==ele].sum()
    li.append([x,ele])
li.sort(reverse=True)
for i in range(5):
    print(li[i][1])

Paytm
Flipkart
Ola
Snapdeal
Oyo

### FUNDING ROUNDS

In [296]:
import numpy as np,pandas as pd,csv
df=pd.read_csv('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8")
df=df.StartupName
df.replace('Olacabs','Ola',inplace=True)
df.replace('Ola cabs','Ola',inplace=True)
df.replace('Ola Cabs','Ola',inplace=True)
df.replace('Flipkart.com','Flipkart',inplace=True)
df.replace('Oyo Rooms','Oyo',inplace=True)
df.replace('OyoRooms','Oyo',inplace=True)
df.replace('Oyorooms','Oyo',inplace=True)
df.replace('OYO Rooms','Oyo',inplace=True)
df.replace('Paytm Marketplace','Paytm',inplace=True)
freq=df.value_counts()
for i in range(5):
    print(freq.index[i],freq.values[i])

Ola 9
Swiggy 7
UrbanClap 6
Oyo 6
Paytm 6

### TOP INVESTOR

In [329]:
import numpy as np,pandas as pd,csv
df=pd.read_csv('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8")
df=df.InvestorsName[(df.InvestorsName!='Undisclosed Investers') & (df.InvestorsName!='Undisclosed investors')]
df.dropna(inplace=True)
d={}
for row in df.values:  
    li=[x for x in row.split(',')]
    for ele in li:
        d[ele.strip()]=d.get(ele.strip(),0)+1
mx=0
for ele in d:
    if d[ele]>mx:
        mx=d[ele]
        ans=ele
print(ans,mx)

Sequoia Capital 64

In [330]:
import numpy as np,pandas as pd,csv
df=pd.read_csv('C:\\Users\\jhasa\\Desktop\\startup_funding.csv',encoding="utf8")

df=df.InvestorsName[(df.InvestorsName!='Undisclosed Investers') & (df.InvestorsName!='Undisclosed investors')]
df.dropna(inplace=True)
d={}
for row in df.values:  
    li=[x for x in row.split(',')]
    for ele in li:
        d[ele.strip()]=d.get(ele.strip(),0)+1
name=[]
inv=[]
for i in d:
    name.append(i)
    inv.append(d[i])    
name=np.array(name)
inv=np.array(inv,dtype=int)
s=np.argmax(inv)
print(name[s].strip(),inv[s],sep=' ')

Sequoia Capital 64